*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;  
}

.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.header{
    padding: 12px 0 80px 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    
}
.links{ 
    margin-left: auto;
}
ul{
    list-style-type:none;
    display: flex;
    gap : 18px;
}
a{
    text-decoration: none;
}
a,p{
    color: #e5e7eb;
    font-size: 15px;
}
.maintext{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero{
    display: flex;
    width: 60%;
    gap: 80px;
    padding-bottom:80px ;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
button{
    width: 110px;
    font-size: 18px;
    padding: 6px 15px;
    border-radius: 10px;
    border: 0;
    background-color:#3882f6;
    color:white;
}
.right{
    display: flex;
    width: auto;
    background-color: #a3a4a7;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

}

.content2{
    padding: 50px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topic{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.boxes{
    margin-top: 40px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.box p{
    color: #1f2937;
}
.box div{
    height: 140px;
    width: 140px;
    border: 4px solid #3882f6;
    border-radius: 14px;
}

.content3{
    display:flex;
    background-color: #e5e7eb;
    justify-content: center;
}
.cont-quote{
    width: 50%;
    padding: 75px 0;
    display:flex;
    flex-direction: column;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight:lighter;
}
.author{
    align-self: flex-end;
    font-weight: 900;
    
}

.content4{
    display: flex;
    justify-content: center;
    padding: 75px 0;
}
.rectangle{
    width: 60%;
    box-sizing: border-box;
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    border-radius: 6px;
    padding: 40px 75px;
    
}
.action-topic{
    font-weight: bold;
}
.rectangle button{
    border: 2px solid #f9faf8 ;
}
.footer{
    padding: 40px 0;
    background-color: #1f2937;
    text-align: center;
    color:#e5e7eb ;
}

















